body {
  background-color: rgb(237, 246, 250);
}
.weather-app-frame {
  max-width: 600px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  background: linear-gradient(
    109.6deg,
    rgb(204, 228, 247) 11.2%,
    rgb(237, 246, 250) 100.2%
  );
  margin: 30px auto;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 30px 50px rgba(105, 96, 128, 0.2);
}
header {
  border-bottom: 1px solid rgba(116, 98, 157, 0.08);
  padding-bottom: 20px;
}
footer {
  border-top: 1px solid rgba(116, 98, 157, 0.1);
  margin-top: 20px;
  font-size: 12px;
}
.search-city-form {
  margin: 5px auto;
}
.search-input {
  width: 75%;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  padding: 10px;
  border: none;
  background-color: white;
}
.submit-button {
  width: 23%;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  padding: 10px;
  margin-left: 5px;
  border: none;
  background-color: white;
}
.submit-button:hover {
  cursor: pointer;
}
p {
  line-height: 20px;
  color: rgb(67, 67, 67);
}
a {
  color: rgb(55, 103, 233);
}
.current-weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.current-city {
  font-size: 40px;
  font-weight: 600;
  line-height: 68px;
  margin: 0;
}
.current-weather-details strong {
  color: rgb(34, 30, 119);
}
.current-temperature {
  display: flex;
}
.current-temperature .emoji {
  width: 80px;
  height: 80px;
}
.current-temperature .temperature {
  font-size: 80px;
  line-height: 80px;
  font-weight: 450;
}
.current-temperature .celsius {
  font-size: 25px;
  margin-top: 6px;
}
